/block.frag
/block.vert
/desktop.ini
/lwjgl-glfw-natives-windows.jar
/lwjgl-glfw.jar
/lwjgl-natives-windows.jar
/lwjgl-opengl-natives-windows.jar
/lwjgl-opengl.jar
/lwjgl.jar
/my2DMinecraft/
/tilesheet.png
/bin/
/.classpath
/.project
/.settings
/lib